{% extends "base.html" %}
{% block title %}Archives{% endblock %}
{% block headerimg %}{{ DEFAUT_HEADER_BG }}{% endblock %}

{% block content %}
<div class="container list">
    <article>
        <h1 style="margin-bottom: 30px;">Archives and tags</h1>

        <div class="meta" style="margin-bottom: 30px;">
        {% for tag, articles in tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }} ({{ articles | length }})</a>
        {% endfor %}
        </div>

        <!-- <table class="archives">
            {% for article in articles %}
            <tr>
                <td class="date">{{ article.date.strftime('%b %Y') }}</td>
                <td class="title"><a href='/{{ article.url }}'>{{ article.title }}</a></td>
            </tr>
            {% endfor %}
        </table> -->
        <!-- Use containers instead of tables -->

        <div class="container-fluid archives">
            {% for article in articles %}
            <div class="row">
                <div class="col-xs-2 date">
                    <span class="date">{{ article.date.strftime('%b %Y') }}</span>
                </div>
                <div class="col-xs-10 title">
                    <span class="title"><a href='/{{ article.url }}'>{{ article.title }}</a></span>
                </div>
            </div>
            {% endfor %}
        </div>
    </article>
</div>
{% endblock %}
