<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="description" content="{% block description %}{%endblock%}">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock %} | {{ SITENAME }}</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="alternate" type="application/atom+xml" title="{{ SITENAME }} blog atom feed" href="/feeds/all.atom.xml" />

    <link rel="stylesheet" href="/theme/css/style.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block extra_head %}{% endblock %}
</head>

<body>
    <header class="navbar navbar-inverse bs-docs-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#theNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="/" title="Home" class="title">{{ SITENAME }}</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation" id="theNavbar">
                <ul class="nav navbar-nav navbar-right">
                    {% if TWITTER_USERNAME %}
                        <li><a class="nodec icon-twitter" href="http://twitter.com/{{ TWITTER_USERNAME }}" rel="me"></a></li>
                    {% endif %}
                    {% if GITHUB_USERNAME %}
                        <li><a class="nodec icon-github" href="http://github.com/{{ GITHUB_USERNAME }}" rel="me"></a></li>
                    {% endif %}
                    {% if STACKOVERFLOW_ADDRESS %}
                        <li><a class="nodec icon-stackoverflow" href="{{ STACKOVERFLOW_ADDRESS }}" rel="me"></a></li>
                    {% endif %}
                    {% if ABOUT_PAGE %}
                        <li><a href="{{ ABOUT_PAGE }}" title="About">About</a></li>
                    {% endif %}
                    {% if PHOTOS_PAGE %}
                        <li><a href="{{ PHOTOS_PAGE }}" title="Photos">Photos</a></li>
                    {% endif %}
                    {% if SHOW_ARCHIVES %}
                        <li><a href="/archives.html" title="Archive">Archive</a></li>
                    {% endif %}
                    {% if SHOW_FEED %}
                        <li><a class="nodec icon-rss" href="/{{ FEED_ALL_ATOM }}" title="jakevdp.github.io RSS feed" rel="me"></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div id="wrap">
        {% block content %}{% endblock %}
    </div>

<!-- <footer>
    <p>
    © 2012-2017 {{ AUTHOR }}, license <a href="{{ LICENSE_URL}}"> {{LICENSE_NAME }}</a>
    unless otherwise noted.
    Generated by <a href= "http://docs.getpelican.com/">Pelican</a>.
    </p>
</footer> -->

</body>
</html>
