{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block headerimg %}{{ DEFAULT_HEADER_BG }}{% endblock %}

{% block content %}
<div class="container index">

    {% for article in articles_page.object_list %}
    <article>
        <header>
            <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
            <time datetime="" title="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
        </header>

        <div class="article_content">
            {{ article.summary }}
        </div>

        <div class="meta">
            <div>
                <a class="btn btn-purple" href="{{ SITEURL }}/{{ article.url }}">Read more</a>
            </div>

            <div>
                {% for tag in article.tags %}
                <a class="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                {% endfor %}
            </div>

        </div>

    </article>
    <!-- <div class="separator"></div> -->
    <hr>
    {% endfor %}

    <nav class="pagination">
        <ul>
            {% if articles_page.has_next() %}
            <li><a class="btn btn-purple" href="{{ SITEURL }}/{{ articles_next_page.url }}"><i class="fas fa-angle-double-left"></i> Past</a></li>
            {% endif %}
            {% if articles_page.has_previous() %}
            <li><a class="btn btn-purple" href="{{ SITEURL }}/{{ articles_previous_page.url }}">Future <i class="fas fa-angle-double-right"></i></a></li>
            {% endif %}
        </ul>
    </nav>

</div>

</div>

{% endblock %}